@media screen and (min-width: 1240px) {
  body {
    // width: 1310px;
    // margin: 0 auto;

    div.container {
      width: 1310px;
      margin: 0 auto;
    }
    nav.navigation {
      div.container {
        button.burger-btn {
          display: none;
        }

        button.close-btn {
          display: none;
        }

        div.subnav {
          position: static;
          height: auto;
          width: auto;
          background-color: transparent;
          transform: translate(0);
          ul {
            height: auto;
            width: max-content;
            background: transparent;
            li {
              display: inline-block;
            }
          }
        }
      }
    }

    main.main-content {
      section.introduction {
        div.container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          padding-bottom: 0;
          padding-bottom: 5vh;

          div.left {
            padding-top: 15vh;
            padding-right: 5vh;
            h1.title {
              font-size: 2.5em;
            }
            p {
              font-size: 18px;
              line-height: 32px;
            }
          }
          div.right {
            padding-top: 15vh;
            img {
              width: 700px;
            }
          }
        }
      }

      section.offers {
        div.container {
          display: grid;
          grid-template-columns: 1fr 500px;

          div.left {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 550px;
            }
          }

          div.right {
            div.offers {
              display: grid;
              grid-template-columns: 1fr 1fr;
              gap: 30px;
              div.offer {
                background: #fff;
                padding: 1em;
                min-height: 250px;
                border-radius: 10px;
                box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
                transition: all 0.4s;
                &:hover {
                  background: #0d1b2a;
                  color: #fff;
                }
                //   grid-template-columns: max-content 1fr;
              }
            }
          }
        }
      }

      section.meet-yemi {
        display: grid;
        padding: 4em $padding;
        grid-template-columns: 1fr;

        div.img-container {
          padding: 0;
          img {
            width: 380px;
          }
          div.details {
            padding: 2vh 15vh;
            text-align: center;
            h2.title {
              font-size: 2em;
            }

            p {
              font-size: 18px;
              line-height: 28px;
              width: 600px;
              margin: 0 auto;
              text-align: center;
            }
          }
        }
      }
      section.contact {
        div.container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 30px;
          div.left {
            text-align: center;
            img {
              width: 400px;
            }
            h2.title {
              font-size: 32px;
            }

            p {
              font-size: 18px;
              line-height: 28px;
            }
          }
        }
      }
    }
  }
}
