@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: "Atkinson Hyperlegible", sans-serif;
  scroll-behavior: smooth;
}

body p {
  line-height: 24px;
}

body img {
  max-width: 100%;
  height: auto;
}

body footer.footer {
  padding: 1.5em 1em;
}

body footer.footer div.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer.footer div.container svg {
  width: 35px;
}

body footer.footer div.container ul li {
  list-style: none;
  display: inline;
  padding: 0 0.2em;
}

body nav.navigation {
  padding: 1em;
  background: #0d1b2a;
  color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}

body nav.navigation div.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}

body nav.navigation div.container svg.burger {
  width: 30px;
}

body nav.navigation div.container button.close-btn {
  position: fixed;
  right: 15px;
  top: 5px;
  padding: 0.8em;
  background: transparent;
  font-size: 2.8em;
  color: #fff;
}

body nav.navigation div.container div.subnav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

body nav.navigation div.container div.subnav.show-menu {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  top: 0;
}

body nav.navigation div.container div.subnav ul {
  background: #fff;
  width: 70vw;
  height: 100vh;
}

body nav.navigation div.container div.subnav ul li {
  list-style: none;
  display: block;
}

body nav.navigation div.container div.subnav ul li a {
  display: block;
  padding: 1em 0.8em;
  color: #fff;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold;
}

body main.main-content section.introduction {
  background: #0d1b2a;
  color: #fff;
}

body main.main-content section.introduction div.container {
  padding: 1em 0;
}

body main.main-content section.introduction div.container div.left {
  padding: 1em;
  opacity: 0;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

body main.main-content section.introduction div.container div.left h1.title,
body main.main-content section.introduction div.container div.left p,
body main.main-content section.introduction div.container div.left a {
  margin-bottom: 1em;
}

body main.main-content section.introduction div.container div.left p {
  line-height: 24px;
}

body main.main-content section.introduction div.container div.left a {
  display: inline-block;
  padding: 1em;
  background: #3a86ff;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
}

body main.main-content section.offers {
  padding: 1em;
  padding: 4em 1em;
}

body main.main-content section.offers div.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

body main.main-content section.offers h2.title {
  margin-bottom: 1em;
  text-align: center;
}

body main.main-content section.offers div.offer {
  background: #fff;
  padding: 1em;
  min-height: 250px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

body main.main-content section.offers div.offer:hover {
  background: #0d1b2a;
  color: #fff;
}

body main.main-content section.offers div.offer h2,
body main.main-content section.offers div.offer p,
body main.main-content section.offers div.offer h3 {
  margin-bottom: 0.7em;
}

body main.main-content section.offers div.offer h2.number {
  font-size: 2em;
}

body main.main-content section.meet-yemi {
  padding: 2.5em 1em;
  background: #eee;
}

body main.main-content section.meet-yemi div.img-container {
  padding: 1.5em 1em;
  text-align: center;
}

body main.main-content section.meet-yemi div.img-container img {
  border-radius: 15px;
}

body main.main-content section.meet-yemi div.details {
  text-align: center;
}

body main.main-content section.meet-yemi div.details h2.title {
  margin-bottom: 1em;
}

body main.main-content section.contact {
  padding: 2.5em 0;
}

body main.main-content section.contact div.container div.left,
body main.main-content section.contact div.container div.right {
  padding: 1em;
}

body main.main-content section.contact div.container div.left h2.title,
body main.main-content section.contact div.container div.right h2.title {
  margin-bottom: 1em;
}

body main.main-content section.contact div.container div.left p,
body main.main-content section.contact div.container div.right p {
  line-height: 24px;
}

body main.main-content section.contact div.container div.right form.contact-form div.input-container {
  margin-bottom: 1.5em;
}

body main.main-content section.contact div.container div.right form.contact-form div.input-container input,
body main.main-content section.contact div.container div.right form.contact-form div.input-container textarea {
  border-radius: 12px;
  resize: none;
  width: 100%;
  font-size: 1em;
  padding: 1.3em 1em;
  background-color: #eee;
}

body main.main-content section.contact div.container div.right form.contact-form div.input-container button {
  border-radius: 12px;
  padding: 1.3em 1em;
  font-size: 1em;
  width: 100%;
  background: #222;
  color: #fff;
}

@media screen and (min-width: 1240px) {
  body div.container {
    width: 1310px;
    margin: 0 auto;
  }
  body nav.navigation div.container button.burger-btn {
    display: none;
  }
  body nav.navigation div.container button.close-btn {
    display: none;
  }
  body nav.navigation div.container div.subnav {
    position: static;
    height: auto;
    width: auto;
    background-color: transparent;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  body nav.navigation div.container div.subnav ul {
    height: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    background: transparent;
  }
  body nav.navigation div.container div.subnav ul li {
    display: inline-block;
  }
  body main.main-content section.introduction div.container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding-bottom: 0;
    padding-bottom: 5vh;
  }
  body main.main-content section.introduction div.container div.left {
    padding-top: 15vh;
    padding-right: 5vh;
  }
  body main.main-content section.introduction div.container div.left h1.title {
    font-size: 2.5em;
  }
  body main.main-content section.introduction div.container div.left p {
    font-size: 18px;
    line-height: 32px;
  }
  body main.main-content section.introduction div.container div.right {
    padding-top: 15vh;
  }
  body main.main-content section.introduction div.container div.right img {
    width: 700px;
  }
  body main.main-content section.offers div.container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 550px 1fr;
        grid-template-columns: 550px 1fr;
  }
  body main.main-content section.offers div.container div.left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main.main-content section.offers div.container div.left img {
    width: 500px;
  }
  body main.main-content section.offers div.container div.right div.offers {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }
  body main.main-content section.offers div.container div.right div.offers div.offer {
    background: #fff;
    padding: 1em;
    min-height: 250px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  body main.main-content section.offers div.container div.right div.offers div.offer:hover {
    background: #0d1b2a;
    color: #fff;
  }
  body main.main-content section.meet-yemi {
    display: -ms-grid;
    display: grid;
    padding: 4em 1em;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  body main.main-content section.meet-yemi div.img-container {
    padding: 0;
  }
  body main.main-content section.meet-yemi div.img-container img {
    width: 380px;
  }
  body main.main-content section.meet-yemi div.img-container div.details {
    padding: 2vh 15vh;
    text-align: center;
  }
  body main.main-content section.meet-yemi div.img-container div.details h2.title {
    font-size: 2em;
  }
  body main.main-content section.meet-yemi div.img-container div.details p {
    font-size: 18px;
    line-height: 28px;
    width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  body main.main-content section.contact div.container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  body main.main-content section.contact div.container div.left {
    text-align: center;
  }
  body main.main-content section.contact div.container div.left img {
    width: 400px;
  }
  body main.main-content section.contact div.container div.left h2.title {
    font-size: 32px;
  }
  body main.main-content section.contact div.container div.left p {
    font-size: 18px;
    line-height: 28px;
  }
  body main.main-content section.contact div.container div.right form.contact-form div.names-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
}

@-webkit-keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=index.css.map */