$padding: 1em;
$border-radius: 10px;

@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

body {
  font-size: 16px;
  font-family: "Atkinson Hyperlegible", sans-serif;

  p {
    line-height: 24px;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  div.container {
    footer.footer {
      padding: 1.5em $padding;
      display: flex;
      justify-content: space-between;
      align-items: center;
      svg {
        width: 35px;
      }

      ul {
        li {
          list-style: none;
          display: inline;
          padding: 0 0.2em;
        }
      }
    }
    nav.navigation {
      padding: $padding;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: sticky;
      top: 0;
      left: 0;
      background: rgba(255, 255, 255, 0.9);
      svg.burger {
        width: 30px;
      }
      button.close-btn {
        position: fixed;
        right: 15px;
        top: 5px;
        padding: 0.8em;
        background: transparent;
        font-size: 2.8em;
        color: #fff;
      }
      div.subnav {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        transform: translateX(100%);
        transition: transform 0.5s;
        &.show-menu {
          transform: translateX(0);
          top: 0;
        }
        ul {
          background: #fff;
          width: 70vw;
          height: 100vh;
          li {
            list-style: none;
            display: block;
            a {
              display: block;
              padding: 1em 0.8em;
              color: black;
              text-decoration: none;
              font-size: 1.1em;
              font-weight: bold;
            }
          }
        }
      }
    }

    main.main-content {
      section.introduction {
        padding: $padding 0;
        div.left {
          padding: $padding;
          h1.title,
          p,
          a {
            margin-bottom: $padding;
          }
          p {
            line-height: 24px;
          }

          a {
            display: inline-block;
            padding: $padding;
            background: #222;
            color: #fff;
            text-decoration: none;
            border-radius: $border-radius;
          }
        }
      }

      section.offers {
        padding: $padding;
        padding: 4em $padding;
        h2.title {
          margin-bottom: $padding;
          text-align: center;
        }

        div.offer {
          text-align: center;
          h2,
          p,
          h3 {
            margin-bottom: 0.7em;
          }
          h2.number {
            font-size: 2em;
          }
        }
      }

      section.meet-yemi {
        padding: 2.5em $padding;

        div.img-container {
          padding: 1.5em $padding;
          text-align: center;
          img {
            border-radius: 15px;
          }
        }

        div.details {
          text-align: center;
          h2.title {
            margin-bottom: $padding;
          }
        }
      }

      section.contact {
        padding: 2.5em 0;
        div.left,
        div.right {
          padding: $padding;

          h2.title {
            margin-bottom: $padding;
          }

          p {
            line-height: 24px;
          }
        }

        div.right {
          form.contact-form {
            div.names-container {
            }

            div.input-container {
              margin-bottom: 1.5em;
              input,
              textarea {
                border-radius: 12px;
                resize: none;
                width: 100%;
                font-size: 1em;
                padding: 1.3em $padding;
                background-color: #eee;
              }

              button {
                border-radius: 12px;

                padding: 1.3em $padding;
                font-size: 1em;
                width: 100%;
                background: #222;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}

@import "./media-query";
